/tests.py
/Day 24/new_file.txt
/Day 24/customers/
/Day 24/input/
/Day 24/output/
/Day 25/colors_data.csv
/Day 25/states_to_learn.scv
/Day 29/output/
/Day 30/data.json
/Day 31/settings/settings.csv
/Day 20/data/high_score.txt
