/tests.py
/Day 24/new_file.txt
/Day 24/customers/
/Day 24/input/
/Day 24/output/
/Day 25/colors_data.csv
/Day 25/states_to_learn.scv
/Day 29/output/
/Day 30/data.json
/Day 31/settings/settings.csv
/Day 20/data/high_score.txt
/Day 35/key.txt
/venv/
/Day 45/hacker_news/hacker_articles_pg1.csv
/Day 45/hacker_news/hacker_top5_articles_pg1.csv
/Day 45/top100_movies.txt
/Day 46/credentials/
/Day 46/token.txt
/Day 46/.cache
